# =========================
# Python
# =========================

__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================

venv/
venv/
.venv/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Secrets
# =========================

.env
.env.*
kaggle.json
.kaggle/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================

*.log